h1 {
  text-align: center;
  color: white;
}

body {
  background-image: url("http://7-themes.com/data_images/out/1/6771691-awesome-black-backgrounds.jpg");
  background-size: 1200px 600px;
  background-repeat: no-repeat;
}

label {
  color: white;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
  margin: 5;
  padding: 0;
}

#container {
  height: 500px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  /* just for demo */
  min-width: 612px;
}

.button {
  width: 65px;
  height: 30px;
  background-color: orange; 
  display: inline-block;
  text-align: center;
  font-size: 24px;
  vertical-align:middle;
  border-radius: 15px;
  margin: 10px 0px;
}

.button:hover {
  cursor: pointer;
}

#grid {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.controls {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 0;
}

.cell {
  height: 1vw;
  width: 1vw;
  background: white;
  display: inline-block;
  text-align: center;
  line-height: 1vw;
  font-size: 2vw;
  margin: -1px;
  margin-top: -1vw;
  position: relative;
  border: 1px solid black;
}



.row {
  height: 1vw;
  width: 1vw;
  background: white;
  display: inline-block;
  text-align: center;
  line-height: 1vw;
  margin: -1px;
  position: relative;
  border: 1px solid black;
}
/*demo only*/

.cell:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  transition: all 0.3s;
}

/*.cell:hover:before {
  background: red;
}
*/

/*#p1 {background-color:rgba(255,0,0,0.3);}
#p2 {background-color:rgba(0,255,0,0.3);}
#p3 {background-color:rgba(0,0,255,0.3);}*/