h1 {
  text-align: center;
  color: white;
}

body {
  background-image: url("http://wallpapercave.com/wp/afyhOaU.jpg");
  background-size: 1200px 700px;
  background-attachment: fixed;
  no-repeat fixed top left;
}

label {
  color: white;
}

#color_input {
  background-color: black;
  width: 80%;
  border: none;
  display: inline-block;
  margin: 0px 10px;
  margin-bottom: 1px;
}

.container {
  display: block;
  margin: auto;
  width: 100%;
  margin: 5;
  padding: 0;
}

#label {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 42%;
  color: white;
}

#color_input:focus {
  outline: none;
}

#container {
  height: 1000px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  min-width: 800px;
}

.button {
  position: relative;
  z-index: 10;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  margin: 6px 6px;
  color: white;
  visibility: hidden;
  }

.button:hover {
  cursor: pointer;
}

section.border button {
  color: white;
  background: rgba(0,0,0,0);
  border: solid 5px white;
  margin-top: 15px;
}

section.border button:hover,
section.border button.hover {
  border-color: black;
  color: black;
}

section.border button:active,
section.border button.active {
  border-color: #27496d;
  color: #27496d;
}

.controls {
  border-radius: 15px;
  background-color: grey;
  opacity: 0.8;
  width: 50%;
  margin: 10px auto;
  display: block;
  padding: 8px;
  z-index: 400;
}

.grid_size {
  text-align: center;
  vertical-align: middle;
  color: white;
}

#grid {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: block;
  padding: 0;
  /*background: white;*/
}

.cell {
  height: 10px;
  width: 10px;
  /*opacity: 0.1;*/
  /*background: white;*/
  /*display: inline-block;*/
  /*margin: -1px;*/
  border: 1px solid black;
}



.row {
  height: 1vw;
  width: 1vw;
  background: white;
  display: inline-block;
  text-align: center;
  line-height: 1vw;
  margin: -1px;
  position: relative;
  border: 1px solid black;
}
/*demo only*/

.cell:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  transition: all 0.3s;
}